.navbar-container {
    background-color: rgb(225, 236, 246);
    padding: 4px;
  }
  .navbar-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar-item{
    margin-right: 50px;
  }
  .burger-icon {
    display: none;
  }
  .hero {
    background-image: url(https://images.unsplash.com/photo-1616040959673-93489a0c2002?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50%;
  }
  .content-img {
    width: 100%;
  }
  .hero-pargraph {
    width: 100%;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: end;
    color: rgb(172, 210, 244);
  }
  .card {
    background-color: rgb(221, 234, 246);
    padding: 4px;
    border-radius: 4%;
    text-align: center;
  }
  .card-img {
    width: 100%;
    border-radius: 4%;
  }
  .cards-container {
    /* padding-top: 4px; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 15px;
  }
  .footer-contaire {
    background-color: gray;
  }
  .footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 20%;
    
  }

  
  @media screen and (max-width: 992px) {
    body {
      background-color: white;
    }
  
    .navbar-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    .burger-icon {
      display: none;
    }
    .footer-contaire {
        background-color: gray;
      }
      .footer-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 15%;
        color: white;
      }
      .cards-container {
        /* padding-top: 4px; */
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 15px;
      }
  }
  
  @media screen and (max-width: 600px) {
    body {
      background-color: white;
    }
    .cards-container {
      /* padding-top: 4px; */
      display: grid;
      grid-template-columns: 80%;
      justify-content: center;
      gap: 4px;
    }
    .navbar-item {
      display: none;
    }
    .burger-icon {
      display: flex;
      width: 10%;
      height: 90%;
    }
    .navbar-items {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  